# Data Manipulation & EDA
numpy==1.26.4
pandas==2.2.0
matplotlib==3.8.2
seaborn==0.13.2

# Machine Learning & Deep Learning
scikit-learn==1.4.0
tensorflow==2.15.0

# NLP (Natural Language Processing)
nltk==3.8.1

# Computer Vision (The X-Factor)
opencv-python==4.9.0.80

# Web Framework
Flask==3.0.2

gunicorn==21.2.0